<!DOCTYPE html>
<html>
<head>
    <title>Dot Game</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
  <section class="panel">
    <h1 class="panel__score"><var id="score">0</var></h1>
    <input id="speed" name="speed" type="range" min="10" max="100" value="10" class="panel__input">
    <label class="panel__label">Speed</label>
  </section>
  <canvas class="board">Sorry, your browser is not compatible.</canvas>
  <script src="/index.js"></script>
</body>
</html>
